<!--第二种弹出方法的组件-->
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style='max-width:fit-content'>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">新建元数据</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="templateBlock">
          <app-treeclassifier (selectedChange)=onSelectedChange($event)></app-treeclassifier>
          <app-templatemetadata [classifier]="classifier" (templateChange)=onTemplateChange($event)></app-templatemetadata>
        </div>
        <div class="infoBlock">
          <div class="fileCode">
              <span class="ui-float-label">
                <input id="fileCode" class="form-control" type="text" pInputText [(ngModel)]="metadata.code" #fileCode="ngModel" required>
                <label for="fileCode">编码</label>
              </span>
              <div [hidden]="fileCode.valid || fileCode.pristine" class="alert-danger">
                Code is required
              </div>
          </div>
          <div class="fileName">
            <span class="ui-float-label">
              <input id="fileName" class="form-control" type="text" pInputText [(ngModel)]="metadata.name" #fileName="ngModel" required>
              <label for="fileName">名称</label>
            </span>
            <div [hidden]="fileName.valid || fileName.pristine" class="alert-danger">
              Name is required
            </div>
          </div>
          <div class="fileLocation">
            <span class="ui-float-label">
              <input id="fileLocation" class="form-control" type="text" pInputText [(ngModel)]="metadata.location" #fileLocation="ngModel" required>
              <label for="fileLocation">位置</label>
            </span>
            <div [hidden]="fileLocation.valid || fileLocation.pristine" class="alert-danger">
              Location is required
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideModal()">确定</button>
        <button type="button" class="btn btn-default" (click)="hideModal()">取消</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" (click)="showModal()">Create New Metadata</button>