.templateBlock
{
    display: flex;
}

.infoBlock {
  width: 100%;
  min-width: 400px;
}

.fileCode,
.fileName,
.fileLocation {
    display: block;
    align-items: center;
    margin-top: 1.5rem;
}

.infoBlock label
{
    width: 50px;
}

